@page "/fetchdata"

<PageTitle>Breakfast</PageTitle>

@using BlazorNetworkH1.Data
@inject WeatherForecastService ForecastService

<h1>What to eat and when</h1>

<p>Food food food Friday H1 last day.</p>

@if (foodList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Food food in foodList)
            {
                <tr>
                    <td>@food.Id<button @onclick="() => RemoveFood(food.Id)">-</button></td>
                    <td>@food.Item</td>
                    <td>@food.Amount</td>
                    <td>@food.Price.ToString("0.00")</td>
                </tr>
            }
            <tr>
                <td><button @onclick="AddItem">+</button></td>
                <td><input @bind="food.Item" /></td>
                <td><input @bind="food.Amount" /></td>
                <td><input @bind="food.Price" /></td>
            </tr>           
        </tbody>
    </table>
}

@code {
    Food food = new();
    List<Food> foodList = new SQL().GetFood();

    void AddItem()
    {
        new SQL().CreateFood(food);
        food = new();
        foodList = new SQL().GetFood();
    }

    void RemoveFood(int id)
    {
        new SQL().DeleteFood(id);
        food = new();
        foodList = new SQL().GetFood();

    }
}
